/* section initial */
#home-initial{    
    background-image: url(../img/img-home-initial.png);
    display: grid;
    justify-content: center;
    grid-template: 90px 30vh 30vh auto/repeat(2, 43vw)
}

#home-initial-title {
    grid-area: 2/1;
    align-self: end;
}

#home-initial-text{
    font-size: 2rem;
    grid-area: 3/1;
    align-self: center;
}

#btn-editor-home-initial{
    font-size: 1.2rem;
    width: 200px;
    height: 50px;
    justify-self: center;
    grid-area: 4/1;
}

/* section description */
#home-description{
    background-image: url(../img/img-home-description.png);
    display: grid;
    justify-content: center;
    grid-template: 90px 20vh auto 20vh/ 55vw 38vw;
}

#home-description-title{
    align-self: end;
    grid-area: 2/2;
}

#itens-home-description{
    display: flex;
    flex-direction: column;
    align-self: center;
    grid-area: 3/2;
    gap: 20px;
}

.item-home-description{
    font-size: 1.5rem;
}

#btn-editor-home-description{
    font-size: 1.2rem;
    width: 200px;
    height: 50px;
    justify-self: center;
    grid-area: 4/2;
}