footer{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #363636;
    margin-top: 70px;
}

.content-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px 30px 30px 30px;    
    width: 100%;
    height: 100%;
}

.social-media{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.icon-social-media:hover{    
    animation: expandIconSocialMedia 0.1s forwards;
}

@keyframes expandIconSocialMedia {
    0%{
        transform: scale(100%);
    }
    100%{
        transform: scale(130%);
    }
}

.coluns-itens-footer {
    display: flex;
    flex-direction: column;
}

.tittle-itens-footer{
    color: #bc2222;
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.list-itens-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-footer{
    margin-top: 10px;
}

.link-item-footer{
    font-size: 1.2rem;
    color: #fff;
}

.link-item-footer:hover{
    color: #9e1e1e;
}

.content-bussines{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 40%;
    border-top: 1px solid #fff;
}

