@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

body{
    font-family: 'Josefin Sans', sans-serif;    
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    box-shadow: 0 5px 10px #1e1e1ece;
    margin-bottom: 25px;
}

#sc-content{
    display: flex;
    flex-direction: column;
}

.item-nav-header{
    text-decoration: none;
    color: #000;
    margin: 0 12px;
}

#guide{
    font-size: 1.3em;
    margin: 20px;
    display: flex;
    justify-content: center;
}

#content{
    background-color: #fff;
    width: 360px;
    height: 460px;
    margin: 0 auto;
    border: 1px solid #1e1e1e;
    padding: 40px;
}