.header-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-sizing: border-box;
    height: 90px;
    width: 100vw;    
    padding: 0 70px;
    background-color: #1e1e1ec6;
}

#logo{
    height: 90%;
}

.header-nav{
    display: flex;
    gap: 70px;
}

.item-header-nav{    
    padding: 10px;
}

#btn-login{
    margin-top: 1.5px;
}

#btn-login:hover{
    transform: scale3d(1.1, 1.1, 1);
}

#btn-register{
    background-color: #9e1e1e;
    border-bottom: 3px solid #690505; 
    border-radius: 5px;
}

#btn-register:hover{    
    background-color: #bc2222;
}

#btn-register:active{
    margin-top: 2px;
    border-bottom: 1px solid #690505; 
}

.content-home {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;    
    width: 100vw;
    height: 100vh;    
    padding: 7vh 0 0 7vw;    
    gap: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

#home-initial{    
    background-image: url(../images/img-home-initial.png);
}

.home-initial-title, .home-initial-text, .btn-edit-home{
    width: 40%;
}

.main-title{
    font-size: 4.1rem;
}

.main-text{
    font-size: 2rem;
}

.business-name {
    color: #9e1e1e;
}

.btn-edit-home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;    
    background-color: #9e1e1e;
    border-bottom: 3px solid #690505; 
    border-radius: 5px;
    margin: 0 10%;
}

.btn-edit-home:hover{    
    background-color: #bc2222;
}

.btn-edit-home:active{    
    margin-top: 2px;
    border-bottom: 1px solid #690505; 
}

#read-more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 140px;
    height: 30px;
    border-radius: 17px;
    background-color: #141414;
    
    position: absolute;
    bottom: 0;
    margin: 0 37.88% 2vw;
}

#read-more:hover{    
    background-color: #3f3f3f;
    animation: jumpBtnReadMore 0.4s infinite;
}

@keyframes jumpBtnReadMore {
    50%{
        transform: translateY(-4px);
    }
    100%{
        transform: translateY(0)
    }
}

#home-description{
    background-image: url(../images/img-home-description.png);
    padding-left: 60%;
    padding-right: 7%;
}

#itens-home-description{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-home-description{
    font-size: 1.5rem;
}

#btn-edit-home-description{
    margin: 0 auto;
}

#btn-edit-home-description:active{    
    margin-top: 2px;
    border-bottom: 1px solid #690505; 
}

footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: blue;
}

.content-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    
    width: 100%;
    height: 100%;

    background-color: #fff;
}

.coluns-itens-footer {
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: green;
}

.tittle-itens-footer{
    color: #690505;
    font-size: 1.6rem;
}