.header-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-sizing: border-box;
    height: 90px;
    width: 100vw;    
    padding: 0 70px;
    background-color: #1e1e1ec6;
}

.header-nav{
    display: flex;
    gap: 70px;
}

.item-header-nav{    
    padding: 10px;
}

#btn-login{
    margin-top: 1.5px;
}

#btn-login:hover{
    transform: scale3d(1.1, 1.1, 1);
}

#btn-register{
    background-color: #9e1e1e;
    border-bottom: 3px solid #690505; 
    border-radius: 5px;
}

#btn-register:hover{    
    background-color: #bc2222;
}

#btn-register:active{
    margin-top: 2px;
    border-bottom: 1px solid #690505; 
}

#home-initial{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;    
    gap: 30px;
    width: 100vw;
    height: 100vh;
    padding: 7vh 0 0 7vw;
    background-image: url(../images/document-home.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.main-title, .main-text, #btn-edit-home{
    width: 40%;
}

.main-title{
    font-size: 4.1rem;
}

.main-text{
    font-size: 2rem;
}

#business-name {
    color: #9e1e1e;
}

#btn-edit-home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;    
    background-color: #9e1e1e;
    border-bottom: 3px solid #690505; 
    border-radius: 5px;
    margin: 0 10%;
}

#btn-edit-home:hover{    
    background-color: #bc2222;
}

#btn-edit-home:active{    
    margin-top: 2px;
    border-bottom: 1px solid #690505; 
}

#read-more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 140px;
    height: 30px;
    border-radius: 17px;
    background-color: #141414;
    
    position: absolute;
    bottom: 0;
    margin: 0 37.88% 2vw;
}

#read-more:hover{    
    background-color: #3f3f3f;
    animation: jumpBtnReadMore 0.4s infinite;
}

@keyframes jumpBtnReadMore {
    50%{
        transform: translateY(-4px);
    }
    100%{
        transform: translateY(0)
    }
}

#description{
    height: 100vh;
}

footer{
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 -3px 10px #1e1e1ece;
}