#content-header{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    background-color: #1e1e1ebf;
}

header{
    position: fixed;
    width: 100%;
}

.menu-nav-header{
    display: flex;
    gap: 70px;
}

.item-nav-header{    
    text-decoration: none;
    padding: 10px;
}

#btn-login:hover{
    transform: scale3d(1.1, 1.1, 1);
}

#btn-register{
    background-color: #9e1e1e;
    border-bottom: 3px solid #690505; 
    border-radius: 5px;
}

#btn-register:hover{    
    background-color: #bc2222;
}

#btn-register:active{
    margin-top: 2px;
    border-bottom: 1px solid #690505; 
}

#sc-home{
    width: 85vw;
    height: 93vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: 7vh;
}

#sc-home-content-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#sc-home-content-text h2{
    font-size: 4.1rem;
}

#sc-home-content-text span{
    font-size: 2rem;
}

#business-name {
    color: #9e1e1e;
}

#btn-register-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 200px;
    height: 50px;    
    background-color: #9e1e1e;
    border-bottom: 3px solid #690505; 
    border-radius: 5px;
    margin: 0 auto;
}

#btn-register-content:hover{    
    background-color: #bc2222;
}

#btn-register-content:active{    
    margin-top: 2px;
    border-bottom: 1px solid #690505; 
}

#sc-home-content-img-document{
    width: 50%;
}

#read-more {
    position: absolute;
    margin: -50px 44.876% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    background-color: #141414;
    width: 140px;
    height: 30px;
    border-radius: 17px;
}

#read-more:hover{    
    background-color: #3f3f3f;
}

footer{
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 -3px 10px #1e1e1ece;
}

